<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LED ON/OFF</h1>
    <button onclick="led_op(1)">RED LED ON</button>
    <button onclick="led_op(2)">RED LED OFF</button>
    <button onclick="led_op(3)">BLUE LED ON</button>
    <button onclick="led_op(4)">BLUE LED OFF</button>
    <script>
        function led_op(op)
        {
            let url;
            url = (op == 1)
        }
    </script>
</body>
</html>